* {
    border: 1px solid red;
}
h1 {
    font-family: 'Dancing Script', cursive;
}
.flex-container {
    display: flex;
    flex-direction: row;
}
.header{
    width: 70%;
    align-content: center;
    
}