* {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header{
    width: 100%;
    background-image: url("/assets/images/body-bg.png");
    border-bottom: 1px solid rgba(70, 102, 104, 0.3);
}
.header-overlay {
    background-color: rgba(19, 95, 156, 0.4);
    margin: none;
    width: 100%;
    padding: 20px;
    color: white;
}

.my-form {
    text-align: center;
    font-size:1.5vw;
    background-color: rgba(19, 95, 156, 0.4);
    border: 1px solid rgb(92, 92, 92);
    padding: 20px;
    height: 200px;
    margin: 20px 0;

}
.my-input {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
}

.score {
    height: 200px;
    margin: 20px 0;
    background-color: rgba(19, 95, 156, 0.4);
    border: 1px solid rgb(70, 102, 104);
    font-size:1.5vw;
}
.my-tracker {
    background-color: rgba(19, 95, 156, 0.4);
    border: 1px solid rgb(70, 102, 104);
    padding: 10px;
    max-height: 500px;
    font-size:1.5vw;
    margin-top: 20px;
}

